<style>
    .Error {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: 0;
        height: 100vh;
    }
</style>
<div class="Error">
    @if (Html.Partial("Message") != null)
    {
        <h2>@Html.Partial("Message")</h2>
    }
    else
    {
        <h2>Không tìm thấy trang</h2>
    }
</div>