@{
    ViewBag.Title = "Trang chủ Admin";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12 text-center py-3" style="background-color:black">
                    <h1 class="text-light"><Strong>XIN CHÀO QUẢN TRỊ VIÊN</Strong></h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="container">
        <div class="row">
            <img src="~/Public/Img/logo.png" />
        </div>
    </section>
</div>
<!-- /.content-wrapper -->