@model ListClass.Model.KeHoachHieuChuan_Form
<script src="~/Public/Js/DropDownSelect.js"></script>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <section class="content py-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="text-align:center">
                    <h3 style="color:blue"><strong>TẠO KẾ HOẠCH HIỆU CHUẨN</strong></h3>
                </div>
            </div>
            <div class="row" style="width: auto;justify-content:center">
                <div class="col-md-12" style="width: auto;justify-content:center">
                    <button class="form-control form-a-control" type="submit" value="Edit">
                        <span class="fas fa-edit"> OK</span>
                    </button>
                </div> 
            </div>
            <div class="row"> 
                <div class="col-md-2" style="width:auto;position:absolute;left:-12px;top:0">
                    <a style="text-decoration:none;" href="#" onclick="closeAddModal()"><img src="~/Public/Img/close.png" width="40" /></a>
                </div>
            </div>
        </div>
    </section>
}